<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/prosses" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
              <p>{{ message }}</p><br>
           {% endfor %}
        {% endif %}
     {% endwith %}  
        <label for="email">email</label>
        <input type="text" name="email" required>
    </form>
</body>
</html>